body{
    background-color: rgb(146, 173, 173);
}
p{
    background-color: rgb(236, 112, 112);
    color: white;
}
h2{
    background-color: rgb(56, 41, 75);
    color: burlywood;
}
.footer{
    background-color: rgb(99, 99, 242);
    color: white;
}