.cantainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px 50px 400px 200px;
    background-color: burlywood;
    border: 1px solid black;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.subheader{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:2 ;
    grid-row-end:3 ;
    border: white;
    color: white;
    background-color: rgb(20 17 27);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boxcantainer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 400px;
    gap: 10px;
    background-color: rgb(26, 232, 191);
}
.cantainer1{
    display: grid;
    background-color:white;
    border: 1px solid black;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows:repeat(2,1fr) ;
    gap: 30px;
   
    


}
.cantainer1heading{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 400px;
    gap: 10px;
    background-color: burlywood;
    background-image: url('https://images.unsplash.com/photo-1465101046530-73398c7f28ca'); /* New example image URL */
    background-size: cover;
    background-position: center;
    height: 140px ;
    width: 140px;
    margin-top: 65px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 10px;


}
/* .cantainer11.img{
    height: 140px;
    width: 10px;
} */
 .cantainer11{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 65px;
    margin-left: 20px;
    justify-content: space-evenly;
     margin-right: 10px;
 }
.cantainer12{
     background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 65px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 50px;
}
.cantainer13{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 10px;


}
.cantainer14{
     background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 10px;

}
.cantainer2{
    display: grid;
    background-color:white;
    border: 1px solid black;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows:repeat(2,1fr) ;
    gap: 30px;
   

}
.cantainer21{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 65px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 10px;

}
.cantainer22{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 65px;
    margin-left: 20px;
    justify-content: space-evenly;
    margin-right: 50px;
    
}
.cantainer23{
   background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 10px;
    
}
.cantainer24{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-evenly;
     margin-right: 10px;
    
}
.cantainer3{
    display: grid;
    background-color:white;
    border: 1px solid black;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows:repeat(2,1fr) ;
    gap: 30px;
}
.cantainer31{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 65px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 10px;

}
.cantainer32{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 65px;
    margin-left: 20px;
    justify-content: space-evenly;
    margin-right: 50px;
    
}
.cantainer33{
   background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-evenly;
     margin-right: 10px;
    
}
.cantainer34{
    background-color: white;
    color: #0f1111;
    height: 140px ;
    width: 140px;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-evenly;
     margin-right: 10px;
    
}
.cantainer4{
   background-color: white;
    color: #0f1111;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    height: 140px ;
    width: 300px;
    
}
    
    
.cantainer4 button{
    background-color: #f0c14b;
    
    height: 30px;
    width: 250px;
    padding: 5px 11px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.footer{
    height: 400px;
    margin-top: 30px;
    background-color: #152739;
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.footerlinks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
    gap: 10px;
    background-color: #152739;
    padding: 20px 0px;
    color: white;
     margin-left: 100px;
     gap: 20px;
}
.navfooter{
    background-color: #37475a;
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
    cursor: pointer;
   
}
